{% extends 'base.html' %}

{% block head %}
<h1>hello</h1>
{% endblock %}

{% block body %}
<h1>mello</h1>

<form action="/sus" method="POST">
    <input type="text" name="mm" id="mmid">
    <input type="submit" value="add">
</form>

<div>

    {% for todo in todos %}
    <a href="{{ url_for('complete_todo', oid = todo._id) }}">
        
        <ol>{{todo.title}}</ol>
    </a>
        <!-- <form action="/delete">
            <input type="submit" value="delete">
        </form> -->
    {% endfor %}

</div>



{% endblock %}